h1{
    text-align: center;
    font-family: Helvetica;
}

h2{
    text-align: center;
    font-family: Helvetica;
}

input{
    border-width: 20px;
}

#n1{
    margin-left: 20%;
    width: 20%;
}

#n2{
    margin-left: 13%;
    margin-right: 20%;
    width: 20%;
}

button{
    border-width: 20px;
}

#button{
    margin-left: 600px;
}

p{
    text-align: center;
    font-family: Helvetica;
}

html{
    background-color: gray;
}